#navbar {
  display: flex;
  width: 40%; /* adjust as per the requirement */
  justify-content: center;
  align-items: center;
}

#logo {
  width: 150px; /* adjust as per the size of image */
  height: 100px; /* adjust as per the size of image */
  margin-right: 20px; /* add some margin between the image and links */
}

#logo img{
  width:200px;
  height: 200px;
 position: absolute;
 left: 0;
}

#links {
  position: relative;
  top: 60px;
  display: flex;
  align-items: center;
  margin-left: auto; /* push the links to the right */
}

#links a {
  color: black;
  text-decoration: none;
  margin-right: 20px; /* add some space between the links */
}

#links button:hover {
  color: white;
  background-color: red;
  transition: background-color 0.2s ease-in-out;
}
